body,
div,
form,
input {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}
select {
  margin: 10px;
  width: 5%;
}
textarea:hover {
  outline: none;
  border: 1px solid #095484;
  background: #e6eef7;
}
header {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}
label {
  padding-bottom: 40px;
  margin-left: 10px;
}
form {
  width: 150%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
}
#first,
#last,
#email,
#notes,
#color {
  margin: 10px;
  width: 10%;
}
#radio,
#check,
#submit {
  padding: 10px;
  margin-left: 20px;
}
button,
input,
text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
}
