h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
  margin-bottom: 0%;
}

.header {
  background-color: black;
  text-align: center;
  color: #fff;
  padding: 10px 0 10px 0;
  font-size: 2rem;
}
.footer {
  background-color: black;
  text-align: center;
  color: #fff;
}
.values {
  background-color: #e8eae6;
  padding: 10px;
}
.input {
  display: block;
}
.fname {
  background-color: #bdd2b6;
  padding: 10px;
}
.lname {
  background-color: #bdd2b6;
  padding: 10px;
  margin-top: 7px;
}
.email {
  background-color: #bdd2b6;
  padding: 10px;
  margin-top: 7px;
}
.gender,
.clr,
.emp {
  background-color: #bdd2b6;
  padding: 10px;
  margin-top: 7px;
}
.notes {
  background-color: #bdd2b6;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.john,
.ema {
  background-color: #bdd2b6;
  /* padding: 5px; */
  margin-top: 7px;
  margin-bottom: 7px;
}
