h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
  margin-bottom: 0%;
}
form {
  background-color: #fffbeb;
  padding: 10px;
}

header {
  background-color: black;
  text-align: center;
  color: #fff;
  padding: 10px 0 10px 0;
  font-size: 2rem;
}
.footer {
  background-color: black;
  text-align: center;
  color: #fff;
  margin: 20px 0 20px 0;
}

.input {
  display: block;
}
.formfield {
  background-color: #e8eae6;
  margin: 10px;
  padding: 10px 0 10px 0;
}

.john,
.ema {
  background-color: #e8eae6;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
